body{
    background-image: url(../img/background.svg);
}
#lista-empleados{
    display: flex;
    flex-direction: row;
}
header{
    background-image: url("../img/banner-1.svg");
    background-repeat: no-repeat; /* Prevent image tiling */
    background-position: center; /* Center the image horizontally and vertically */
    background-size: cover;
}

nav{
    background-color: #0c1e30;
}
form{
    max-width: 95%;
    background-attachment: fixed;
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    border-radius: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px  rgba(117, 129, 240, 0.795);
    background-color:rgba(47, 94, 148, 0.336);
    border-color: rgb(39, 83, 177);
}
tr{
    height: 50px;
    background-color: #7d92d6;

}
#enca-tb{
    background-color: #2241a7;
}
table{
    color: white;
}

#tabla_datos,
#logo_int_50{
    filter: drop-shadow(
        0 0 10px rgba(0, 0, 0, .8)
    );
}


